/* You can add global styles to this file, and also import other style files */

body{
    background-color: #d7e5e8;
}

.card{
    box-shadow: 15px 15px 20px -13px #3acded;
}

.subsribed-book-section{
    background-color:#a5e6f5
}
.search-book-section{
    background-color:#dfd65b80
}


.all-book-section{
    background-color:#a5dcca
}