<!-- Modal -->
<div class="modal fade" [id]="'book'+book.id" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">{{book.title}}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <app-alert *ngIf="errFlag">Something went worng. We are looking into it. Sorry ;( </app-alert>
                <app-alert-success *ngIf="successFlag">Successfull Subscribed. Please find in book section!!!
                </app-alert-success>
                Price : {{book.price}}<br>
                Email : <input type="text" class="form-control" #readerEmail /><br>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-success"
                    (click)="subscribeBook(readerEmail.value,book.id)">Subscribe</button>
            </div>
        </div>
    </div>
</div>

<!-- Reading Mode -->
<div class="modal fade" [id]="'read'+book.id" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">{{book.title}}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <h4>Book Summary</h4>
                {{book.content}}
               
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                
            </div>
        </div>
    </div>
</div>

<!-- Update Book -->
<div class="modal fade"   [id]="'update'+book.id" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" style="max-width: 50% !important;" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <app-alert *ngIf="errFlag">Something went worng. We are looking into it. Sorry ;( </app-alert>
                <app-alert-success *ngIf="successFlag">Successfull Subscribed. Please find in book section!!!
                </app-alert-success>
               <app-create-book [heading]="'Update Book'" [updateThisBook]="book" ></app-create-book>
            </div>
        </div>
    </div>
</div>


<div class="card book" style="width: 18rem;margin: 10px">
    <div style="padding: 10px;">
        <img class="card-img-top" src="./../../assets/bookCover.jpg" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">{{book.title}}</h5>
            <p class="card-text">Rs : {{book.price}}</p>
            
            <span *ngIf="successBtn.length==0 && authorBtn.length == 0;">
                <button  class="btn btn-success" data-toggle="modal" [attr.data-target]="'#book' + book.id">
                    Subscribe</button> &nbsp;
            </span>
            <span *ngIf="successBtn.length!=0;">
                <button class="btn btn-success"  data-toggle="modal" [attr.data-target]="'#read' + book.id">{{successBtn}}  </button>&nbsp;
            </span>
            <span *ngIf="successBtn.length==0 && authorBtn.length != 0;">
                <div class="btn-group" role="group" aria-label="Basic example">
                    <button class="btn btn-warning" (click)="blockUnblockBook(book)">{{book.active?"Block":"Unblock"}}</button>
                    <button class="btn btn-primary" data-toggle="modal" [attr.data-target]="'#update' + book.id">Update</button>
                    <button class="btn btn-danger" (click)="deleteBook(book.id)">Delete</button>
                    
                  </div>
                 <!-- <button  class="btn btn-danger" (click)="blockUnblockBook(book)" >{{book.active?"Block":"Unblock"}}</button>&nbsp;
                 <button  class="btn btn-danger"  (click)="deleteBook(book.id)">Delete</button>
                 <button  class="btn btn-danger"data-toggle="modal" [attr.data-target]="'#update' + book.id" >Update</button> -->
            </span>
            <span *ngIf="successBtn.length!=0">
                <button  class="btn btn-danger" (click)="unSubscribeBook('deepak@gmail.com',book.id)" >Unsubscribe</button>
            </span>

        </div>
    </div>
</div>