<div style="height: 100px">

</div>
<div class="footer bg-light">
    <div class="footer-dark">
        <footer>
            <div class="container">
                <div class="row">
                    <div class="col-sm-6 col-md-3 item">
                        <h3>Explore</h3>
                        <ul>
                            <li><a href="https://www.drastick.in/">Patron's Message</a></li>
                            <li><a href="https://www.drastick.in/">Management Committe</a></li>
                            <li><a href="https://www.drastick.in/">Teaching Staff</a></li>
                            <li><a href="https://www.drastick.in/">Non Teaching Staff</a></li>
                            <li><a href="https://www.drastick.in/">Past Toppers</a></li>
                        </ul>
                    </div>
                    <div class="col-sm-6 col-md-3 item">
                        <h3>Resource</h3>
                        <ul>
                            <li><a href="https://www.drastick.in/">CBSE</a></li>
                            <li><a href="https://www.drastick.in/">National Portal of India</a></li>
                            <li><a href="https://www.drastick.in/">Ministry of HRD</a></li>
                            <li><a href="https://www.drastick.in/">Palamu District</a></li>
                        </ul>
                    </div>
                    <div class="col-md-6 item text">
                        <h3>Digi Book</h3>
                        <p>Digi Book is a safe and secure place for student. Professional security personnel guard the
                            campus round-the-clock and only female staff and security personnel have access to the
                            boarding chalet.</p>
                    </div>
                    <div class="col item social"><a href="https://www.facebook.com/SACESchool822116/" target="_blank"><i
                                class="bi bi-facebook"></i></a><a href="https://www.facebook.com/SACESchool822116/"
                            target="_blank"><i class="bi bi-twitter"></i></a><a
                            href="https://www.facebook.com/SACESchool822116/" target="_blank"><i
                                class="bi bi-instagram"></i></a><a href="https://www.facebook.com/SACESchool822116/"
                            target="_blank"><i class="bi bi-youtube"></i></a></div>
                </div>
            </div>
            <div class="fixed-bottom" width="100%" style="background-color: rgb(40, 45, 50);">
                <p class="text-center" style="margin: 0px; padding: 0px; font-size: 0.8em;">Designed by <a
                        href="https://drastick.in" target="_blank" style="color: white; font-weight: 400;">DRAStick</a>
                </p>
            </div>
        </footer>
    </div>
</div>