<app-header></app-header>
<div class="app-body">
    <div class="container">
        <!-- <div class="row">
            <app-book class="col-lg"></app-book>
            <app-book class="col-lg"></app-book>
            <app-book class="col-lg"></app-book>
            <app-book class="col-lg"></app-book>
            <app-book class="col-lg"></app-book>
            <app-book class="col-lg"></app-book>
        </div> -->
    
        <!-- <app-signup></app-signup> -->
    
        <!-- <app-create-book></app-create-book> -->
        <router-outlet></router-outlet>
    
        <!-- <app-login></app-login> -->
    </div>
</div>

<app-footer></app-footer>